<div style="padding: 24px;">
    <h1 mat-dialog-title style="padding: 0px;">Dodawanie nowego zadania</h1>
    <div mat-dialog-content style="padding-left: 0px; padding-right: 0px;">
        <form>
            <mat-form-field class="example-full-width">
                <mat-label>Nazwa</mat-label>
                <input matInput [(ngModel)]="name" [ngModelOptions]="{standalone: true}" required minlength="1">
            </mat-form-field>
            <mat-form-field>
                <mat-label>Termin</mat-label>
                <input matInput [(ngModel)]="deadline" [ngModelOptions]="{standalone: true}" type="datetime-local">
            </mat-form-field>
            <section>
                <mat-checkbox [(ngModel)]="done" [ngModelOptions]="{standalone: true}"
                    color="primary">Wykonane</mat-checkbox>
            </section>
        </form>
    </div>
    <div mat-dialog-actions style="padding: 0px;">
        <section>
            <button mat-raised-button color="primary" mat-dialog-close>Cofnij</button>
            <button mat-raised-button color="primary" mat-dialog-close (click)="editTask()">Edytuj</button>
        </section>
    </div>
</div>
