<h1 mat-dialog-title>Dodawanie nowego zadania</h1>
<div mat-dialog-content>
    <mat-form-field appearance="fill">
        <mat-label>Nazwa</mat-label>
        <input matInput>
    </mat-form-field>
</div>
<div mat-dialog-actions>
    <section>
        <div class="example-button-row">
            <button mat-raised-button color="primary" mat-dialog-close>Wyjdź</button>
            <button mat-raised-button color="primary" mat-dialog-close cdkFocusInitial>Dodaj</button>
        </div>
    </section>
</div>
